.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.peculiarities-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.peculiarities-list__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.peculiarities-list__icon {
  display: flex;
  justify-content: center;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.peculiarities-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.peculiarities-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
